.header {
    line-height: 1.5;
    text-align: left;
    color: #212529;
    font-family: Barlow;
    font-size: 1rem;
    font-weight: 400;
    box-sizing: border-box;
    padding: 10px;
    border-right: 0px;
    border-left: 0px;
    display: flex;
}

.header-content {
    display: flex;
    margin: auto 0px;
    padding: 0px 16px;
    column-gap: 12px;
}

.add-user {
    display: flex;
    justify-content: flex-end;
}

.users-table {
    margin-top: 20px;
}

.action-btn {
    background-color: transparent;
    border-style: none;
    border-radius: 50px;
}