<div class="header">
  <div class="header-content">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </div>
</div>
<div class="dashboard-content">
  <div class="summary">
    
      <mat-card class="summary-card">
        <mat-card-content >
          <div style="display: flex; align-items: center">
            Flow <mat-icon style="margin-left: auto">account_tree</mat-icon>
          </div>
        </mat-card-content>
      </mat-card>

    <mat-card class="summary-card">
      <mat-card-content
        ><div style="display: flex; align-items: center">
          Robots <mat-icon style="margin-left: auto">smart_toy</mat-icon>
        </div></mat-card-content
      >
    </mat-card>
    <mat-card class="summary-card">
      <mat-card-content
        ><div style="display: flex; align-items: center">
          Schedules <mat-icon style="margin-left: auto">today</mat-icon>
        </div></mat-card-content
      >
    </mat-card>
    <mat-card class="summary-card">
      <mat-card-content
        ><div style="display: flex; align-items: center">
          Users <mat-icon style="margin-left: auto">people</mat-icon>
        </div></mat-card-content
      >
    </mat-card>
  </div>

  <div class="second">
    <mat-card class="second-card">
      <mat-card-content> </mat-card-content>
    </mat-card>
    <mat-card class="second-card">
      <mat-card-content> </mat-card-content>
    </mat-card>
  </div>
</div>
