<div class="dashboard-content">
  <div class="header-container">
    <div class="container mt-3">
      <div class="row">
        <div class="col-12">
          <h1>Welcome to My App</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- ========================================================================= -->

  <div class="container mt-3">
    <div class="row justify-content-left">
      <div class="col-md-6 justify-content-center">
        <mat-card class="info-card">
          <mat-card-content>
            <mat-card-title class="info-title">Last login</mat-card-title>
            <mat-card-subtitle class="info-subtitle"
              >Card Subtitle 1</mat-card-subtitle
            >
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- ========================================================================= -->
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <h1>templates</h1>

        <div class="card-container">
          <mat-card class="custom-card">
            <mat-chip>Template</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="custom-card">
            <mat-chip>Template</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="custom-card">
            <mat-chip>Template</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="custom-card">
            <mat-chip>Template</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="custom-card">
            <mat-chip>Template</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="custom-card">
            <mat-chip>Template</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="custom-card">
            <mat-chip>Template</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <!-- ========================================================================= -->
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <h1>Projects</h1>

        <div class="card-container">
          <mat-card class="custom-card">
            <mat-chip>Project</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="custom-card">
            <mat-chip>Project</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="custom-card">
            <mat-chip>Project</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="custom-card">
            <mat-chip>Project</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="custom-card">
            <mat-chip>Project</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="custom-card">
            <mat-chip>Project</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="custom-card">
            <mat-chip>Project</mat-chip>
            <mat-card-header>
              <mat-card-title>Card Title 1</mat-card-title>
              <mat-card-subtitle>Card Subtitle 1</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="justify-content-end p-3">
              <button mat-button>Try it</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
