<h1 mat-dialog-title class="dialog-title">Add Group</h1>
<div mat-dialog-content class="dialog-content">
  <form [formGroup]="newGroup" class="new-group-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter group name" />

      <!-- @if (newGroup.get('name')?.invalid && newGroup.get('name')?.touched) {
      <mat-error>Name is required</mat-error>
      } -->
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Enter group description"
        rows="3"
      ></textarea>
      <!-- @if ( newGroup.get('description')?.invalid &&
      newGroup.get('description')?.touched) {
      <mat-error *ngIf="">Description is required</mat-error>
      } -->
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end" class="dialog-actions">
  <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    [disabled]="newGroup.invalid"
    cdkFocusInitial
  >
    Add
  </button>
</div>
