
<div class="container p-4">
  <!-- Projects header -->
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center mb-3">
        <h1 class="h4 mb-0">Projects</h1>
      </div>
    </div>
  </div>

  <!-- Search and New Project button row -->
  <div class="row mb-3">
    <div class="col-md-6 d-flex justify-content-start">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"  (input)="applyFilter()"/>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <button mat-flat-button color="primary" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
        New Project
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Last Modified</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (project of displayedProjects; track $index) {
            <tr>
              <td
                (click)="onRowClicked(project.id, $index)"
                class="text-center"
              >
                <div class="cell-content">
                  <mat-icon>architecture</mat-icon>
                  <span>{{ project.name }}</span>
                </div>
              </td>
              <td (click)="onRowClicked(project.id, $index)">
                <div class="cell-content">
                  <span>{{ project.description }}</span>
                </div>
              </td>
              <td (click)="onRowClicked(project.id, $index)">
                <div class="cell-content">
                  <span>{{ project.lastModifiedAt | daySince }}</span>
                </div>
              </td>

              <td>
                <div class="cell-content">
                  <div class="btn-group">
                    <button
                      class="btn"
                      matRipple
                      matRippleColor="rgb(171,219,227)"
                      [matMenuTriggerFor]="menu"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item class="dropdown-item">
                        <mat-icon>edit</mat-icon> Edit
                      </button>
                      <button mat-menu-item class="dropdown-item">
                        <mat-icon>delete</mat-icon> Delete
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </td>
            </tr>

            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  @if (showSpinner) {
  <div class="spinner-overlay">
    <mat-spinner diameter="150"></mat-spinner>
  </div>
  }
  <!-- Paginator -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <mat-paginator
        [length]="totalProjects"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>
