<div class="container p-4">
  <!-- Projects header -->
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center mb-3">
        <h1 class="h4 mb-0">Schedules</h1>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6 d-flex justify-content-start">
      <input type="text" class="form-control" placeholder="Search" />
    </div>

    <div class="col-md-6 d-flex justify-content-end">
      <button mat-flat-button color="primary" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
        New Schedule
      </button>
    </div>
  </div>
  @if (displayedSchedules.length > 0) {
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Robot</th>
              <th scope="col">Description</th>
              <th scope="col">Schedule</th>
              <!-- <th scope="col">Cron</th> -->
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (schedule of displayedSchedules; track $index) {
            <tr>
              <!-- <td class="text-center">
                <div class="cell-content">
                  <span>{{ schedule.id }}</span>
                </div>
              </td> -->
              <td class="text-center" (click)="openDialog(schedule)">
                <div class="cell-content">
                  <span>{{ schedule.name }}</span>
                </div>
              </td>
              <td class="text-center" (click)="openDialog(schedule)">
                <div class="cell-content">
                  <span>{{ schedule.robot }}</span>
                </div>
              </td>
              <td class="text-center">
                <div class="cell-content">
                  <span>{{ schedule.description }}</span>
                </div>
              </td>

              <td class="text-center" (click)="openDialog(schedule)">
                <div class="cell-content">
                  <span>{{ schedule.cronExpression | cronParser }}</span>
                </div>
              </td>
              <td class="text-center">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="toggleSwitch{{ schedule.id }}"
                        [checked]="schedule.active"
                        (change)="toggleScheduleStatus(schedule)"
                        [class.is-active]="schedule.active"
                      />
                      <!-- Optional: You can include the label if needed -->
                      <!-- <label class="form-check-label" for="toggleSwitch{{schedule.id}}">
                        {{ schedule.active ? "Active" : "Inactive" }}
                      </label> -->
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="cell-content">
                  <div class="btn-group">
                    <button
                      class="btn"
                      matRippleColor="rgb(171,219,227)"
                      [matMenuTriggerFor]="menu"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item class="dropdown-item">
                        <mat-icon>edit</mat-icon> Edit
                      </button>
                      <button mat-menu-item class="dropdown-item">
                        <mat-icon>delete</mat-icon> Delete
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  } @else {
  <div class="row align-items-center" style="height: 60vh">
    <div class="col-12 d-flex justify-content-center">
      <div>
        <p class="display-4">No schedules found.</p>
      </div>
    </div>
  </div>
  }

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <mat-paginator
        [length]="totalSchedules"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>
